.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 57px;
}

.u-section-1 .u-text-1 {
  width: 238px;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin: -2px auto 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 230px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 178px;
    margin-top: 9px;
    margin-bottom: 9px;
    font-size: 2.25rem;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 3179px;
}

.u-section-2 .u-shortcode-1 {
  margin: 0 auto 0 20px;
}

.u-section-2 .u-shortcode-2 {
  min-height: 324px;
  margin: 0;
}

.u-section-2 .u-shortcode-3 {
  min-height: 324px;
  margin: 0;
}

.u-section-2 .u-shortcode-4 {
  min-height: 324px;
  margin: 0;
}

.u-section-2 .u-shortcode-5 {
  min-height: 324px;
  margin: 0;
}

.u-section-2 .u-shortcode-6 {
  min-height: 324px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-2 .u-shortcode-7 {
  min-height: 324px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-shortcode-8 {
  min-height: 324px;
  margin-top: 648px;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-2 .u-shortcode-9 {
  min-height: 324px;
  margin-top: 0;
  margin-bottom: 60px;
  margin-right: 0;
}

.u-section-2 .u-shortcode-10 {
  min-height: 324px;
  margin-top: 0;
  margin-bottom: 60px;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 3241px;
  }

  .u-section-2 .u-shortcode-1 {
    height: auto;
    min-height: 324px;
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shortcode-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shortcode-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shortcode-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shortcode-5 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-shortcode-6 {
    height: auto;
    margin-right: initial;
  }

  .u-section-2 .u-shortcode-7 {
    height: auto;
  }

  .u-section-2 .u-shortcode-8 {
    height: auto;
    margin-left: initial;
  }

  .u-section-2 .u-shortcode-9 {
    height: auto;
    margin-top: -972px;
    margin-bottom: 0;
    margin-right: initial;
  }

  .u-section-2 .u-shortcode-10 {
    height: auto;
    margin-right: initial;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 3240px;
}

.u-section-3 .u-shortcode-1 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-2 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-3 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-4 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-5 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-6 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-7 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-8 {
  min-height: 324px;
  margin: 0;
}

.u-section-3 .u-shortcode-9 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 324px;
}

.u-section-3 .u-shortcode-10 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 324px;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-shortcode-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-5 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-6 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-7 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-8 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-shortcode-9 {
    height: auto;
  }

  .u-section-3 .u-shortcode-10 {
    height: auto;
    margin-right: initial;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 500px;
}

.u-section-4 .u-shortcode-1 {
  margin: 0 auto 0 20px;
}

.u-section-4 .u-shortcode-2 {
  margin: 30px auto 0;
}

.u-section-4 .u-shortcode-3 {
  min-height: 245px;
  margin: 0;
}

.u-section-4 .u-shortcode-4 {
  min-height: 245px;
  margin: 0;
}

.u-section-4 .u-shortcode-5 {
  min-height: 245px;
  margin: 0;
}

.u-section-4 .u-shortcode-6 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 245px;
  margin-left: 0;
}

.u-section-4 .u-shortcode-7 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 245px;
  margin-left: 0;
}

.u-section-4 .u-shortcode-8 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 245px;
  margin-left: 0;
}

.u-section-4 .u-shortcode-9 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 245px;
  margin-left: 0;
}

.u-section-4 .u-shortcode-10 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 245px;
}

.u-section-4 .u-shortcode-11 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 245px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shortcode-1 {
    margin-left: 0;
  }

  .u-section-4 .u-shortcode-3 {
    height: auto;
  }

  .u-section-4 .u-shortcode-4 {
    height: auto;
  }

  .u-section-4 .u-shortcode-5 {
    height: auto;
  }

  .u-section-4 .u-shortcode-6 {
    height: auto;
  }

  .u-section-4 .u-shortcode-7 {
    height: auto;
  }

  .u-section-4 .u-shortcode-8 {
    height: auto;
  }

  .u-section-4 .u-shortcode-9 {
    height: auto;
  }

  .u-section-4 .u-shortcode-10 {
    height: auto;
  }

  .u-section-4 .u-shortcode-11 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2451px;
  }

  .u-section-4 .u-shortcode-1 {
    margin-top: 1px;
    margin-right: 0;
  }

  .u-section-4 .u-shortcode-2 {
    height: auto;
    min-height: 245px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-5 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-6 {
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-7 {
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-8 {
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-9 {
    margin-left: initial;
  }

  .u-section-4 .u-shortcode-11 {
    margin-left: initial;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 500px;
}

.u-section-5 .u-shortcode-1 {
  min-height: 298px;
  margin: 0;
}

.u-section-5 .u-shortcode-2 {
  margin: 0 auto 0 20px;
}

.u-section-5 .u-shortcode-3 {
  min-height: 298px;
  margin: 0;
}

.u-section-5 .u-shortcode-4 {
  min-height: 298px;
  margin: 0;
}

.u-section-5 .u-shortcode-5 {
  min-height: 298px;
  margin: 0;
}

.u-section-5 .u-shortcode-6 {
  min-height: 298px;
  margin: 0;
}

.u-section-5 .u-shortcode-7 {
  min-height: 298px;
  margin: 0;
}

.u-section-5 .u-shortcode-8 {
  min-height: 298px;
  margin: 0;
}

.u-section-5 .u-shortcode-9 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 298px;
  margin-right: 0;
}

.u-section-5 .u-shortcode-10 {
  margin-top: 0;
  margin-bottom: 60px;
  min-height: 298px;
  margin-right: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-shortcode-1 {
    height: auto;
  }

  .u-section-5 .u-shortcode-2 {
    margin-left: 0;
  }

  .u-section-5 .u-shortcode-3 {
    height: auto;
  }

  .u-section-5 .u-shortcode-4 {
    height: auto;
  }

  .u-section-5 .u-shortcode-5 {
    height: auto;
  }

  .u-section-5 .u-shortcode-6 {
    height: auto;
  }

  .u-section-5 .u-shortcode-7 {
    height: auto;
  }

  .u-section-5 .u-shortcode-8 {
    height: auto;
  }

  .u-section-5 .u-shortcode-9 {
    height: auto;
  }

  .u-section-5 .u-shortcode-10 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3240px;
  }

  .u-section-5 .u-shortcode-1 {
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-2 {
    height: auto;
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-3 {
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-4 {
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-5 {
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-6 {
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-7 {
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-8 {
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-shortcode-9 {
    min-height: 324px;
    margin-right: initial;
  }

  .u-section-5 .u-shortcode-10 {
    min-height: 324px;
    margin-bottom: 0;
    margin-right: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-shortcode-1 {
    min-height: 3239px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-shortcode-1 {
  margin: 0 auto 0 20px;
}

.u-section-6 .u-shortcode-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
  margin-left: 0;
}

.u-section-6 .u-shortcode-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
}

.u-section-6 .u-shortcode-4 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
  margin-left: 0;
}

.u-section-6 .u-shortcode-5 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
  margin-left: 0;
}

.u-section-6 .u-shortcode-6 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
  margin-left: 0;
}

.u-section-6 .u-shortcode-7 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
  margin-left: 0;
}

.u-section-6 .u-shortcode-8 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
}

.u-section-6 .u-shortcode-9 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
  margin-left: 0;
}

.u-section-6 .u-shortcode-10 {
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  min-height: 324px;
  margin-left: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shortcode-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 3240px;
  }

  .u-section-6 .u-shortcode-1 {
    height: auto;
    min-height: 324px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-shortcode-2 {
    margin-left: initial;
  }

  .u-section-6 .u-shortcode-4 {
    margin-left: initial;
  }

  .u-section-6 .u-shortcode-5 {
    margin-left: initial;
  }

  .u-section-6 .u-shortcode-6 {
    margin-left: initial;
  }

  .u-section-6 .u-shortcode-7 {
    margin-left: initial;
  }

  .u-section-6 .u-shortcode-9 {
    margin-left: initial;
  }

  .u-section-6 .u-shortcode-10 {
    margin-left: initial;
  }
}*{
	box-sizing : border-box ; 
	}
	
	body{
    
	margin :0;
	padding:0;
	font-family: 'Roboto',sans-serif;
	font-size:24px ;
	line-height:0;
	}
	
	#hepsi {
	margin:0;
	padding:0;
	width:720px ;
	height:324px;
	background-color:#1a1a1a;
	color:#FFF;
	line-height:0;
	font-family: 'Roboto',sans-serif;
	font-size:24px ;
	line-height:0;
	} 
    #hareketettirmekicin {
	width: 370px;
	height:300px;
	position : absolute ;
	top:2px;
	left:212px;
	top:-1px;
	}
	
	#kitapfoto{
	margin:0;
	padding:0;
	position:absolute;
	line-height:0;
	}
	
	#kitapadi{
	margin:0;
	padding:0;
    font-size:30px;
	position:absolute;
	text-decoration:none;
	top:20px;
	line-height:0;
	color:#478ac9;
	}
	
	#yayinyili{
	margin:0;
	padding:0;
	font-size:24px;	
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:58px;
	}
	
	#kitapturu{
	margin:0;
	padding:0;
	font-size:24px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:96px;
	
	}
	 
   #okuyucupuani{
	margin:0;
	padding:0;
	font-size:24px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:134px;
		
	}
	
   #benimpuanim{
	margin:0;
	padding:0;
	font-size:24px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:172px;
	}
	
	#tanitim {
    margin:0;
	padding:0;
	font-size:0.875rem;
	font-family:'Open Sans',sans-serif ;
	position:absolute;
	text-decoration: none;
	line-height:0;
	position:absolute;
	top:24px;
	left:41px;
	}
     
	#tanitimkutu {
    width:150px;
	height:50px;
    border-style: solid;
	text-transform:uppercase;
	border-width: 2px ;
	position:absolute ;
	margin:0;
    padding: 12px 31px 12px 30px ;
	letter-spacing : 2px;
	line-height:0;
	top:196px;
	background-color:#000;
	}
	
	
	#ucretsizoku{
	margin:0;
	padding:0;
	font-size:0.875rem;
	font-family:'Open Sans',sans-serif ;
	position:absolute;
	text-decoration: none;
	line-height:0;
	position:absolute;
	top:24px;
	left:16px;
	
	}
	
	#ucretsizokukutu{
	
	width:150px;
	height:50px;
    border-style: solid;
	text-transform:uppercase;
	border-width: 2px ;
	position:absolute ;
	margin:0;
    padding: 12px 31px 12px 30px ;
	letter-spacing : 2px;
	line-height:0;
	top:252px;
	background-color:#000;
	
	}
	
	#okuyucupuanortalamasi{
	margin:0;
	padding:0;
	font-size:14px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	left:575px;
	top:294px;
	
	}
	
	#okuyucuyorumlari{
	margin:0;
	padding:0;
	font-size:24px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:310px;
		
	}
	
	#kayanyazi{
	margin:0;
	padding:0;
    position:absolute;
	text-decoration:none;
	line-height:1.6;
	top:298px;
	width:722px;
	left:218px;
	font-size:18px;
    }
   #reklam {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	
	
	}
	#divortalama{
	width :400px ;
	height:280px;
	margin : 0 ;
	padding:0;
	position:absolute;
	top:0px;
	left:557px;
	
	}
	
	#altcizgi {
   position : absolute ;
   width: 940px;
   border-width:1px;
   border-color:#666;
   top:310px;
	}
	
	#kitapadiortalama {
    width: auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
		
	}
	
	#yayinyiliortalama{
	width: auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
			
		
	}
	
	#kitapturuortalama{
	width: auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
		
	}
	
	#okuyucupuaniortalama{
	width: auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
		
	}
	
	#benimpuanimortalama{
	width: auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
		
	}
	
	#ucretsizokukutuortalama{
	width: auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
		
	}
	
	#tanitimkutuortalama{
	width: auto;
    height:auto;
    display: flex;
    align-items: center;
    justify-content: center;
		
	}
	
	#googleplay{
	border-bottom: 1px solid #0FF;
	text-decoration:none;
	color:#0FF;
	}
#hareketettirmekicinmasaustu {
	width: 370px;
	height:300px;
	position : absolute ;
    left:292px;
	top:-1px;
	}
#okuyucupuanortalamasimasaustu{
	margin:0;
	padding:0;
	font-size:14px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	left:775px;
	top:294px;
	
	}
	#divortalamamasaustu{
	width :400px ;
	height:280px;
	margin : 0 ;
	padding:0;
	position:absolute;
	top:0px;
	left:757px;
	
	}
	
	#altcizgimasaustu {
   position : absolute ;
   width: 1140px;
   border-width:1px;
   border-color:#666;
   top:310px;
	}
    #kayanyazimasaustu{
	margin:0;
	padding:0;
    position:absolute;
	text-decoration:none;
	line-height:1.6;
	top:298px;
	width:918px;
	left:218px;
	font-size:18px;
	}
	#hareketettirmekicintablet{
	width: 370px;
	height:300px;
	position : absolute ;
	left:90px;
	top:-4px;
	}
	
	#kitapfototablet{
	width:160px;
	height :297px;
	margin:0;
	padding:0;
	position:absolute;
	line-height:0;
	}
	
	#divortalamatablet{
	width :400px ;
	height:280px;
	margin : 0 ;
	padding:0;
	position:absolute;
	top:0px;
	left:352px;
	
	}
	
	#kitapaditablet{
	margin:0;
	padding:0;
    font-size:26px;
	position:absolute;
	text-decoration:none;
	top:20px;
	line-height:0;
	color:#478ac9;
	}
	
	#yayinyilitablet{
	margin:0;
	padding:0;
	font-size:17px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:58px;
	}
	
	#kitapturutablet{
	margin:0;
	padding:0;
	position:absolute;
	font-size:17px;
	text-decoration:none;
	line-height:0;
	top:96px;
	
	}
	 
   #okuyucupuanitablet{
	margin:0;
	padding:0;
	position:absolute;
	text-decoration:none;
	font-size:17px;
	line-height:0;
	top:134px;
		
	}
	
   #benimpuanimtablet{
	margin:0;
	padding:0;
	position:absolute;
	text-decoration:none;
	font-size:17px;
	line-height:0;
	top:172px;
	}
	#okuyucupuanortalamasitablet{
	margin:0;
	padding:0;
	font-size:12px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	left:392px;
	top:293px;
	
	}
	
	#okuyucuyorumlaritablet{
	margin:0;
	padding:0;
	font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:310px;
		
	}
	
	#kayanyazitablet{
	margin:0;
	padding:0;
    position:absolute;
	text-decoration:none;
	line-height:1.6;
	top:296px;
	width:552px;
	left:164px;
	
	}
	
	#altcizgitablet {
   position : absolute ;
   width: 720px;
   border-width:1px;
   border-color:#666;
   top:310px;
	}
  #hareketettirmekicinportable{
	width: 370px;
	height:300px;
	position : absolute ;
	left:55px;
	top:-4px;
	}
	
	#kitapfotoportable{
	width:120px;
	height :210px;
	margin:0;
	padding:0;
	position:absolute;
	line-height:0;
	}
	
	
	#divortalamaportable{
	width :440px ;
	height:100px;
	margin : 0 ;
	padding:0;
	position:absolute;
	top:227px;
	left:47px;
	
	}
	
	#kitapadiportable{
	margin:0;
	padding:0;
    font-size:24px;
	position:absolute;
	text-decoration:none;
	top:20px;
	line-height:0;
	color:#478ac9;
	}
	
	#yayinyiliportable{
	margin:0;
	padding:0;
	font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:67px;
	}
	
	#kitapturuportable{
	margin:0;
	padding:0;
    font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:114px;
    }
    #okuyucupuanortalamasiportable{
	margin:0;
	padding:0;
	font-size:8px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	left:428px;
	top:107px;
	white-space: nowrap;
	-webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
	
	}
	 
   #okuyucupuaniportable{
	margin:0;
	padding:0;
	font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:161px;
		
	}
	
   #benimpuanimportable{
	margin:0;
	padding:0;
    font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:208px;
	
	}
    
    #tanitimkutuportable {
    width:150px;
	height:50px;
    border-style: solid;
	text-transform:uppercase;
	border-width: 2px ;
	position:absolute ;
	margin:0;
    padding: 12px 31px 12px 30px ;
	letter-spacing : 2px;
	line-height:0;
	top:58px;
	left:360px;
	background-color:#000;
	}
	
	#ucretsizokukutuportable{
	
	width:150px;
	height:50px;
    border-style: solid;
	text-transform:uppercase;
	border-width: 2px ;
	position:absolute ;
	margin:0;
    padding: 12px 31px 12px 30px ;
	letter-spacing : 2px;
	line-height:0;
	top:113px;
	left:360px;
	background-color:#000;
	
	}
	
	
	#okuyucuyorumlariportable{
	margin:0;
	padding:0;
	font-size:13.6px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:219px;
	transform: scale(1, 1.6);
	}
	
	#kayanyaziportable{
	margin:0;
	padding:0;
    position:absolute;
	text-decoration:none;
	line-height:1.6;
	top:209px;
	width:414px;
	left:124px;
	
	}
	
	#kayanyaziidportable{
	font-size:16px;
	
	}
	
  #altcizgiportable {
   position : absolute ;
   width: 540px;
   border-width:1px;
   border-color:#666;
   top:310px;
	}
  #hareketettirmekicinmobil{
	width: 370px;
	height:300px;
	position : absolute ;
	left:39px;
	top:-4px;
	}
  
#divortalamamobil{
	width :440px ;
	height:100px;
	margin : 0 ;
	padding:0;
	position:absolute;
	top:227px;
	left:-52px;
	transform: scale(0.7344, 1);
	}
	
	#kitapadimobil{
	margin:0;
	padding:0;
    font-size:24px;
	position:absolute;
	text-decoration:none;
	top:20px;
	line-height:0;
	color:#478ac9;
	}
	
	#yayinyilimobil{
	margin:0;
	padding:0;
	font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:44px;
	}
	
	#kitapturumobil{
	margin:0;
	padding:0;
    font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:68px;
    }
	 
   #okuyucupuanimobil{
	margin:0;
	padding:0;
	font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:92px;
		
	}
	
   #benimpuanimmobil{
	margin:0;
	padding:0;
    font-size:18px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	top:116px;
	
	}
   #tanitimkutumobil {
    width:150px;
	height:50px;
    border-style: solid;
	text-transform:uppercase;
	border-width: 2px ;
	position:absolute ;
	margin:0;
    padding: 12px 31px 12px 30px ;
	letter-spacing : 2px;
	line-height:0;
	top:124px;
	background-color:#000;
	transform: scale(0.73, 0.8);
	}
    #ucretsizokukutumobil{
	
	width:150px;
	height:50px;
    border-style: solid;
	text-transform:uppercase;
	border-width: 2px ;
	position:absolute ;
	margin:0;
    padding: 12px 31px 12px 30px ;
	letter-spacing : 2px;
	line-height:0;
	top:168px;
	background-color:#000;
	transform: scale(0.73, 0.8);
	
	}
	
	#okuyucupuanortalamasimobil{
	margin:0;
	padding:0;
	font-size:8px;
	position:absolute;
	text-decoration:none;
	line-height:0;
	left:228px;
	top:105px;
	white-space: nowrap;
	-webkit-transform: rotate(-90deg); 
    -moz-transform: rotate(-90deg); 
	
	}
   #kayanyazimobil{
	margin:0;
	padding:0;
    position:absolute;
	text-decoration:none;
	line-height:1.6;
	top:208px;
	width:214px;
	left:124px;
	
	}
   #altcizgimobil {
   position : absolute ;
   width: 340px;
   border-width:1px;
   border-color:#666;
   top:310px;
	} 